<div class="row section_heading">
  <h2>TL;DR</h2>
  <hr>
  <p>Want to know what I work on? See my <a target="_blank" href="https://github.com/DESHRAJ">Github Profile</a>!</p>
  
  <h2>About Me</h2>
  <hr>
  <p class="content"> I am a Computer Science MS student at Georgia Tech, advised by <a target="_blank" href="https://filebox.ece.vt.edu/~dbatra/">Dr. Dhruv Batra</a>. Before joining Georgia Tech, I worked as a Research Assistant in <a target="_blank" href="https://mlp.ece.vt.edu/">Machine Learning and Perception Lab</a>, Virginia Tech working with <a target="_blank" href="https://filebox.ece.vt.edu/~dbatra/">Dr. Dhruv Batra</a> and <a target="_blank" href="https://filebox.ece.vt.edu/~parikh/">Dr. Devi Parikh</a> (also Research Scientist at Facebook AI Research). I work at the junction of software engineering and research solving problems which lie at the intersection of Computer Vision, Machine Learning and Natural Language Processing. My research interests focus on making AI more accurate, better understand human intentions, tendencies, and contexts. I also actively maintain the <a href="http://cloudcv.org">CloudCV Project</a> which aims to make AI research more reproducible.</p>

  <div class="col-md-12" align="center">

    <a class="btn btn-social-icon btn-lg btn-github" href="http://github.com/deshraj" target="_blank">
      <span class="fa fa-github"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-linkedin" target="_blank" href="https://www.linkedin.com/in/deshraj-yadav-34325975">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-google" target="_blank" href="https://scholar.google.com/citations?user=ZSLd8tYAAAAJ&hl=en">
      <span class="fa fa-google"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/deshrajdry" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-facebook" target="_blank" href="http://facebook.com/deshrajdry">
      <span class="fa fa-facebook"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-instagram" target="_blank" href="https://www.instagram.com/deshrajdry/">
      <span class="fa fa-instagram"></span>
    </a>

    <a class="btn btn-social-icon btn-lg btn-bitbucket" target="_blank" href="https://bitbucket.org/deshraj/">
      <span class="fa fa-bitbucket"></span>
    </a>

  </div>
</div>
