<div class="row">
  <div class="col-md-12">
    <h2>About me</h2>
    <hr>
  </div>
  <div class="col-md-8">
    <p>👋 I'm Deshraj Yadav, a software engineer and open source enthusiast. I was born and raised in a small town, <a
        href="https://en.wikipedia.org/wiki/Allahabad">Allahabad</a>, in India. I like to tinker with new technologies
      and build useful tools.</p>
    <p>👷‍♂️ I'm currently working as Machine Learning Engineer at <a href="http://tesla.com/autopilotai"
        rel="nofollow">Tesla Autopilot</a>. Previously, I was a Computer Science MS student 👨‍🎓 at Georgia Tech,
      advised by <a href="https://www.cc.gatech.edu/~dbatra/">Dhruv Batra</a> and worked closely with <a
        href="https://www.cc.gatech.edu/~parikh/">Devi Parikh</a>. </p>
    <p>🚀 I had built <a href="https://eval.ai/" rel="nofollow">EvalAI</a> as my <a
        href="https://mdartech.gatech.edu/handle/1853/60738" rel="nofollow">masters thesis</a> at Georgia Tech, which is
      an open source platform for evaluating and comparing machine learning and artificial intelligence algorithms 🤖 at
      scale.</p>
    <p>📄 My CV is available <a href="https://deshraj.xyz/static/docs/DeshrajCV.pdf">here</a>.</p>
    <p>📬 I’m best reached via email. dyadav at tesla dot com</p>
  </div>
  <div class="col-md-3">
    <div style="margin-bottom: 5px">
      <img src="/static/img/deshraj.png" width="100%">
    </div>
    <div style="text-align: center;">
      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/DESHRAJ">
        <span class="fa fa-github"></span>
      </a>

      <a class="btn btn-social-icon btn-google" target="_blank"
        href="https://scholar.google.com/citations?user=ZSLd8tYAAAAJ&hl=en">
        <span class="fa fa-google"></span>
      </a>

      <a class="btn btn-social-icon btn-linkedin" target="_blank"
        href="https://www.linkedin.com/in/deshraj-yadav-34325975">
        <span class="fa fa-linkedin"></span>
      </a>

      <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/deshrajdry" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>

      <a class="btn btn-social-icon btn-facebook" target="_blank" href="http://facebook.com/deshrajdry">
        <span class="fa fa-facebook"></span>
      </a>
    </div>
  </div>
</div>
