<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/deshraj.png" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <ul class="content">
      <li>Machine Learning Engineer at <a href="https://www.tesla.com/autopilot">Tesla Autopilot</a></li>
      <li>Co-founder of <a href="https://caliper.ai">Caliper</a></li>
      <li>Creator and maintainer of <a href="https://github.com/Cloud-CV/EvalAI">EvalAI Project</a></li>
      <li>Masters in Computer Science (specialization in Machine Learning), Georgia Tech</li>
      <li>B.Tech in Computer Science and Engineering, JSSATE Noida</li>
    </ul>
    <p class="content">I work at the junction of software engineering and AI research. I am excited about building
      large-scale machine learning systems and care a lot about writing neat and clean software.
    </p>

    <p class="content">Important links:

      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/DESHRAJ">
        <span class="fa fa-github"></span>
      </a>

      <a class="btn btn-social-icon btn-google" target="_blank"
        href="https://scholar.google.com/citations?user=ZSLd8tYAAAAJ&hl=en">
        <span class="fa fa-google"></span>
      </a>

      <a class="btn btn-social-icon btn-linkedin" target="_blank"
        href="https://www.linkedin.com/in/deshraj-yadav-34325975">
        <span class="fa fa-linkedin"></span>
      </a>

      <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/deshrajdry" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>

      <a class="btn btn-social-icon btn-facebook" target="_blank" href="http://facebook.com/deshrajdry">
        <span class="fa fa-facebook"></span>
      </a>
  </div>
</div>
