<div class="row">
  <h2>Achievements, Awards and Extracurricular Activities</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement"><a href="https://snapresearchscholarship.splashthat.com/">Snap Research Scholarship</a> recipient, 2017: One of 8 awardees, selected from a pool of 60+ applicants from across the world</li>
      <li class="newsElement"> Travel Scholarship recipient for Google Summer of Code Mentor Summit, 2017</li>
      <li class="newsElement"> Travel Scholarship recipient for Google Summer of Code Mentor Summit, 2016</li>
      <li class="newsElement"><a href="http://mhrd.gov.in/nmms">National Means Cum-Merit Scholarship</a> recipient with <b>State Rank 13</b> (offered by Ministry of Human Resource and Development, Government of India)</li>
      <li class="newsElement"><a href="http://desw.gov.in/scholarship">Prime Minister Scholarship Scheme</a> recipient offered by Ministry of Defence, India</li>
      <li class="newsElement">Head Organizer of <a href="https://www.youtube.com/watch?v=3aOoPCKcKxY">Hackathon 2015</a>: More than 350 students participated in this hackathon</li>
      <li class="newsElement">Winner of Cassiopeian Wars 2014 organized by Microsoft Mobile Innovation Labs</li>
      <li class="newsElement">First Runner Up at <b>HACK-A-THON SUMMER 2014</b> organized by Google Developers Group Lingaya's University. Won prize of worth Rs. 25,000</li>
      <li class="newsElement">Second Runner Up in Linux Challenge organized at Netaji Subhash Institute Of Technology (NSIT Delhi)</li>
      <li class="newsElement">First Runner Up at Junkyard Wars organized at Deen Dayal Upadhyay College, Delhi University</li>
    </ul>
  </div>
</div>
