<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Masters in Computer Science</h3>
      <h4 class="content_heading">  Georgia Institute of Technology, Atlanta</h4>
        <p class="content">Specialization in Machine Learning</p>
        <p class="content">Expected Graduation: December 2018</p>
        <p class="content">Current GPA: <em>4.0</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/gt.png" width="80%">
      <p>(August 2017 - Present)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Technology in Computer Science and Engineering</h3>
      <h4 class="content_heading">JSS Academy of Technical Education, Noida</h4>
        <p class="content">Passed with an aggregate of <em>78%(with Hons.)</em></p>
        <p class="content">Class Rank: <em>9th rank (or top-6%)</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/jss.jpg" width="50%">
      <p>(August 2012 - June 2016)</p>
    </div>
  </div>

</div>