<div class="row">
  <div class="col-md-12">
    <h2>Educational Qualifications</h2>
    <hr>
  </div>
  <div class="col-md-9">
    <h3 class="content_heading">Masters in Computer Science (Aug 2017 - Dec 2018)</h3>
  </div>
  <div class="col-md-9">
    <h4 class="content_heading"> Georgia Institute of Technology, Atlanta</h4>
    <p class="content">Specialization in Machine Learning</p>
    <p class="content">Expected Graduation: December 2018</p>
    <p class="content">GPA: 3.7/4.0</p>
  </div>
  <div class="col-md-3" style="text-align: center;">
    <img src="static/img/gt.png" width="120px">
  </div>

  <div class="col-md-9">
    <h3 class="content_heading">B.Tech in Computer Science and Engineering (Aug 2012 - Jun 2016)</h3>
  </div>
  <div class="col-md-9">
    <h4 class="content_heading">JSS Academy of Technical Education, Noida</h4>
    <p class="content">Passed with an aggregate of 78% (with Hons.)</p>
    <p class="content">Class Rank: 9th rank (or top-6%)</p>
  </div>
  <div class="col-md-3" style="text-align: center;">
    <img src="static/img/jss.jpg" width="100px">
  </div>
</div>
