<div class="container">
    <h2>Experience</h2>
    <hr>

    <div class="container">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://snap.com/">Snap Inc.</a></h3>
          <p class="content">Working in the Perception Team with the focus of building Distributed Machine Learning Platform for the Snap Researchers to streamline the process of annotating Snapchat data, training models and running inference on the cloud.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/snap.png" width="120px">
        <p>(May 2018 - Present)</p>
        <br>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Assistant, <a target="_blank" href="http://mlp.ece.vt.edu">Machine Learning and Perception Lab, Virginia Tech</a></h3>
          <p class="content">Worked on the problem of <a href="https://visualdialog.org">Visual Dialog</a> which later got accepted in CVPR 2017 as a Spotlight Paper. During my visit, I also worked as Teaching Assistant for <a href="https://filebox.ece.vt.edu/~f16ece5424/" target="_blank">Into. to Machine Learning Course</a> for Fall-2016 instructed by <a target="_blank" href="https://computing.ece.vt.edu/~steflee/">Dr. Stefan Lee</a>.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vt.png" width="110px">
        <p>(June 2016 - May 2017)</p>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-9">
        <h3 class="content_heading">Organization Administrator for <a target="_blank" href="http://cloudcv.org">CloudCV</a>, <a href="https://summerofcode.withgoogle.com/organizations/5427409970003968/">Google Summer of Code</a></h3>
          <p class="content">Served as Organization Mentor for Google Summer of Code (GSoC) 2016. Later, I have been serving as an Organization Administrator in GSoC 2017 and 2018.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/gsoc2017.png" width="120px">
        <p>(March 2016 - Present)</p>
      </div>
    </div>

  <div class="container">
    <div class="col-sm-9">
      <h3 class="content_heading">Student Developer, CloudCV, <a href="https://www.google-melange.com/archive/gsoc/2015/orgs/cloudcv">Google Summer of Code 2015</a> </h3>
        <p class="content">Selected for GSOC 2015 under CloudCV Organization. My responsibilities included integrating NVIDIA's Deep Learning Framework DIGITS to provide workspaces for the researchers and other computer vision developers.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/gsoc2015.jpg" width="150px" height="130px">
      <p>(April 2015 - August 2015)</p>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-9">
      <h3 class="content_heading">Software Development Internship, <a href="cityflo.com">Cityflo</a> </h3>
        <p class="content">Responsible for setting an automated test suite for Continuous Integration in the backend codebase which led to a very lean software engineering team as the team was able to spend more time on building new features rather than maintaining and fixing bugs and issues.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/cityflo.png" width="100px" height="100px">
      <p>(December 2015 - February 2016)</p>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-9">
      <h3 class="content_heading">Software Development Internship, <a href="http://siftr.co/">Siftr Labs</a> </h3>
        <p class="content">Worked on building an IoT based product for indoor navigation in big offices and malls using Beacons (Low Energy Bluetooth devices). I was responsible for building REST APIs and creating the Android Application from scratch which communicates with the beacons to get real time position of a person using beacons signal strength.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/siftr.png" width="100px" height="50px">
      <p>(September 2015 - December 2015)</p>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-9">
      <h3 class="content_heading">Backend Developer, <a href="fratmart.com">Fratmart</a></h3>
        <p class="content">Responsible for the development of the whole product from scratch, managing the server, Database management and other backend scripting.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/fratmart.jpg" width="100px" height="100px">
      <p>(August 2014 - December 2014)</p>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-9">
      <h3 class="content_heading">Backend Developer Internship, <a href="https://takezero.in/">TakeZero</a></h3>
        <p class="content">Responsible for development of <a href="http://takezero.in">company's web application</a>, Facebook App development and setting up NoSQL database. Implemented scripts to do image enhancement, and cropping borders etc.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/takezero.jpg" width="100px" height="100px">
      <p>(May 2014 - July 2014)</p>
    </div>
  </div>
</div>
