<div class="row section_heading">
  <h2>Highlights and News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement">April 2018: Serving as reviewer for <a href="https://eccv2018.org/">ECCV</a> 2018</li>
      <li class="newsElement">February 12, 2018: <a href="http://cloudcv.org">CloudCV</a> is selected as a mentoring organization in <a href="https://summerofcode.withgoogle.com/organizations/4737237502132224/">Google Summer of Code 2018</a> and I am serving as Organization Administrator</li>
      <li class="newsElement">December 15, 2017: Won <a href="https://snapresearchscholarship.splashthat.com/">Snap Inc. Research Scholarship</a>, 2017 (<a href="https://www.ic.gatech.edu/news/600684/three-ic-students-earn-snap-research-awards">Georgia Tech's published story</a>)</li>
      <li class="newsElement">Our paper <a href="https://arxiv.org/abs/1708.05122">'Evaluating Visual Conversational Agents via Cooperative Human-AI Games'</a> is accepted in <a href="">HCOMP 2017</a></li>
      <li class="newsElement">October 2017: <a href="http://cloudcv.org">CloudCV</a> selected as a mentoring organization for <a target="_blank" href="http://gci.cloudcv.org/">Google Code-In 2017</a> and I am serving as Organization Administrator</li>
      <li class="newsElement">I will be representing <a href="http://cloudcv.org">CloudCV</a> at Google Summer of Code Mentor Summit 2017, Google Sunnyvale (13th October to 15th October 2017)</li>
      <li class="newsElement">I will be joining <a href="http://www.gatech.edu/">Georgia Tech</a> as a Masters of Computer Science Student starting Fall 2017</li>
      <li class="newsElement">May 22, 2017: Presenting CloudCV in <a href="http://www.ldv.co/visionsummit/2017/competitions">Entrepreneurial Computer Vision Challenge</a> at LDV Summit, New York</li>
      <li class="newsElement">February 27, 2017: Serving as Organization Administrator for CloudCV during Google Summer of Code 2017</li>
      <li class="newsElement">February 27, 2017: Our <a href="http://visualdialog.org/">Visual Dialog</a> Paper got accepted in CVPR 2017</li>
      <li class="newsElement">February 2017: Winner of <a href="http://www.vthacks.com/">VTHacks 2017</a>, a <a href="https://mlh.io/">Major League hacking</a> event</li>
      <li class="newsElement">Represented <a href="http://cloudcv.org">CloudCV</a> at Google Summer of Code Mentor Summit 2016, Google Sunnyvale (28th October to 30th October 2016)</li>
      <li class="newsElement">Presented CloudCV Demonstrations in <a href="http://cvpr2016.thecvf.com/program/demos">CVPR 2016, Las Vegas</a></li>
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
