  <div class="row section_heading">
    <h2>Projects</h2>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3 class="content_heading"><a target="_blank" href="http://evalai.cloudcv.org">EvalAI: Evaluating state of the art in AI</a></h3>
          <p class="content">Leading EvalAI: An open source project which aims to build a centralized platform to host, participate and collaborate in AI challenges organized around the globe and we hope to help in benchmarking progress in AI. Some of the key points which differentiates it from other challenge hosting platforms such as Kaggle, Codalab, TopCoder etc:</p>
          <ul>
            <li>Support for custom evaluation protocols and phases</li>
            <li>Parallelized evaluation using map reduce framework</li>
            <li>Streamlined challenge hosting through UI and zip configuration</li>
            <li>Centralized leaderboard: Everyone can send their results to EvalAI</li>
          </ul>
        <div class="col-md-3"></div>
        <div class="col-md-5" align="center">
          <h3>CVPR 2017: Invited talk on EvalAI in VQA Workshop</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/goEe4gx1yZg?rel=0&amp;showinfo=0&amp;start=1682" frameborder="0" allowfullscreen></iframe>        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="content_heading"><a target="_blank" href="http://visualchatbot.cloudcv.org">Visual Chatbot: A chatbot that can see!</a></h3>
          <p class="content">Built a visual chatbot which can hold a meaningful dialog with humans natural, conversational language about visual content. Specifically, given an image, a dialog history, and a question about the image, the chatbot has to ground the question in image, infer context from history, and answer the question accurately.</p>
      </div>

      <div class="col-md-3"></div>
      <div class="col-md-5" align="center">
        <h3>Live demo</h3>
        <iframe style="border: groove;" src="https://visualchatbot.cloudcv.org" width="360" height="530" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="content_heading"><a target="_blank" href="http://vqa.cloudcv.org">Visual Question Answering (VQA) Demo</a></h3>
          <p class="content">In Visual Question Answering, given an image and a free-form natural language question about the image (e.g., "What kindof store is this?", "How many people are waiting in the queue?", "Is it safe to cross the street?") the machine's task is to automatically produce a concise, accurate, free-form, natural language answer ("bakery", "5", "Yes"). This demo is implemented using <a href="https://github.com/jiasenlu/HieCoAttenVQA">Hierarchical Question-Image Co-Attention</a> model.</p>
      </div>

      <div class="col-md-12" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bC2kwzdyJPs" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="content_heading"><a target="_blank" href="http://gradcam.cloudcv.org">Gradient-weighted Class Activation Mapping(Grad-CAM) Demo</a></h3>
          <p class="content">Gradient-weighted Class Activation Mapping (Grad-CAM) is a novel class-discriminative localization technique, that can be used to make CNN based models interpretable. Grad-CAM highlights regions of the image the VQA model looks at while making predictions. Given an image and a caption or question about that image, the model shows where it looked while doing prediction.</p>
      </div>

      <div class="col-md-12" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/COjUB9Izk6E?start=29" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="content_heading"><a target="_blank" href="http://dbs.cloudcv.org">Diverse Beam Search Demo</a></h3>
          <p class="content">Beam search, the standard work-horse for decoding outputs from neural sequence models like RNNs produces generic and uninteresting sequences. This is inadequate for AI tasks with inherent ambiguity — for example, there can be multiple correct ways of describing the contents of an image. The demo overcomes this by proposing a diversity-promoting replacement, <em>Diverse Beam Search</em> that produces sequences that are significantly different — with runtime and memory requirements comparable to beam search. The demo can be found <a href="http://dbs.cloudcv.org/captioning">here</a></p>
      </div>

      <div class="col-md-12" align="center">
        <blockquote class="embedly-card" data-card-key="0cb3be3b75224d4881ae30aee6c13782" data-card-branding="0" data-card-image="http://dbs.cloudcv.org/media/grad_cam/demo_vqa/COCO_val2014_000000393056.jpg" data-card-type="article-full"><h4><a href="http://dbs.cloudcv.org/captioning">DBS: Diverse Beam Search</a></h4><p>CloudCV: Building platforms for reproducible AI research</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 class="content_heading"> <a target="_blank" href="http://210.212.85.155">JSS InfoConnect Web Application</a></h3>
          <p class="content">A web application used daily by thousands of students studying at JSSATE Noida working as an interaction between the college administration and students. It helps students to interact with the faculties and see the notices being uploaded on daily basis. The application serves more than 10000 requests daily. The project is open source and can be found <a href="https://github.com/ncs-jss/HTTP_200">here</a>.</p>
      </div>
      <div class="col-md-12" align="center">
        <a class="embedly-card" data-card-key="0cb3be3b75224d4881ae30aee6c13782" data-card-controls="0" data-card-image="http://210.212.85.155/static/images/jss-logo.png" data-card-type="article" href="http://210.212.85.155/">JSS InfoConnect</a>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>      
      </div>
    </div>
  </div>
